<%= form_with(model: @order, local: true ) do |f| %>
<table>
<tr>
  <td><%= f.label :"日付" %>
      <%= f.date_field :acceptance_on %>
  </td>

  <%= f.nested_fields_for :accessories do |i| %>
  <%= i.remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %>
  <td>
    <%= i.label :"部品名" %>
    <%= i.text_field :parts %>
  </td>
  <td>
    <%= i.label :"型番" %>
    <%= i.text_field :numeral %>
  </td>
  <td>
    <%= i.label :"型式" %>
    <%= i.text_field :identification %>
  </td>
  <td>
    <%= i.label :"機器名" %>
    <%= i.text_field :equipment %>
  </td>
  <% end %>
  <%= f.add_nested_fields_link :accessories, '追加', class: 'btn btn-primary', role: 'button' %>
  <td>
    <%= f.label :"数量" %>
    <%= f.number_field :quantity %>
  </td>
  <td>
    <%= f.label :"納期" %>
    <%= f.text_field :delivery %>
  </td>
  <td>
    <%= f.label :"備考" %>
    <%= f.text_field :remarks %>
  </td>

  <%= f.fields_for :order_overviews do |o| %>
  <td><%= o.label :"会社名" %>
    <%= o.text_field :company %>
  </td>
  <td><%= o.label :"所属部署" %>
    <%= o.text_field :department %>
  </td>
  <td><%= o.label :"役職" %>
    <%= o.text_field :position %>
  </td>
  <td><%= o.label :"発注者" %>
    <%= o.text_field :name %>
  </td>
  <% end %>
</tr>
</table>
    <%= f.submit %>
  <% end %>

<%= link_to "一覧画面", orders_path %>