<%= form_with(model: @order_form, local: true, url: orders_path ) do |f| %>
<tr>
  <td><%= f.label :"日付" %>
      <%= f.date_field :acceptance_on %>
  </td>
  <%#= f.fields_for :accessories do |i| %>

  <td>
    <%= f.label :"部品名" %>
    <%= f.text_field :parts %>
  </td>
  <td>
    <%= f.label :"型番" %>
    <%= f.text_field :numeral %>
  </td>
  <td>
    <%= f.label :"型式" %>
    <%= f.text_field :identification %>
  </td>
  <td>
    <%= f.label :"機器名" %>
    <%= f.text_field :equipment %>
  </td>

  <%# end %>
  <td>
    <%= f.label :"数量" %>
    <%= f.text_field :quantity %>
  </td>
  <td>
    <%= f.label :"納期" %>
    <%= f.text_field :delivery %>
  </td>
  <td>
    <%= f.label :"備考" %>
    <%= f.text_field :remarks %>
  </td>
  <td><%= f.label :"会社名" %>
    <%= f.text_field :company %>
  </td>
  <td><%= f.label :"所属部署" %>
    <%= f.text_field :department %>
  </td>
  <td><%= f.label :"役職" %>
    <%= f.text_field :position %>
  </td>
  <td><%= f.label :"発注者" %>
    <%= f.text_field :name %>
  </td>
</tr>
    <%= f.submit %>
  <% end %>

<%= link_to "一覧画面", orders_path %>