<div class="wrapper">
      <%= link_to '登録する', new_order_path %>
    <div class="orderormats">
  <table>
    <thead>
      <tr>
        <th>日付</th>
        <th>部品名</th>
        <th>型番</th>
        <th>型式</th>
        <th>機器名</th>
        <th>数量</th>
        <th>納期</th>
        <th>備考</th>
      </tr>
    </thead>

    <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td><%= order.acceptance_on %></td>
          <% order.accessories.each do |accessory| %>
            <td><%= accessory.name %></td>
            <td><%= accessory.numeral %></td>
            <td><%= accessory.identification %></td>
            <td><%= accessory.equipment %></td>
          <% end %>
          <td><%= order.quantity %>/</td>
          <td><%= order.delivery %>/</td>
          <td><%= order.remarks %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>